@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #31363a;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
